openapi: 3.0.0
info:
  title: GED API
  description: API documentation for GED (Gestion Électronique des Documents)
  version: 1.0.0
servers:
  - url: https://api.kdrive.com/v1
    description: Production Server
  - url: http://localhost:8080/v1
    description: Local Development Server

security:
  - BearerAuth: [ ]

paths:
  /api/hello:
    get:
      summary: Returns "Hello World"
      responses:
        "200":
          description: Successful response
          content:
            text/plain:
              schema:
                type: string

  /documents:
    get:
      summary: Retrieve all documents
      security:
        - BearerAuth: [ ]
      parameters:
        - name: type
          in: query
          schema:
            type: string
        - name: owner
          in: query
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
        - name: size
          in: query
          schema:
            type: integer
      responses:
        "200":
          description: List of documents
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Document"

    post:
      summary: Upload a new document
      security:
        - BearerAuth: [ ]
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                metadata:
                  type: string
                  description: JSON string with document metadata
      responses:
        "201":
          description: Document uploaded successfully

  /documents/{id}:
    get:
      summary: Retrieve a document by ID
      security:
        - BearerAuth: [ ]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Document details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Document"

  /import:
    post:
      summary: Import documents from a source
      security:
        - BearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                source:
                  type: string
                  enum: [ FTP, EMAIL, GOOGLE_DRIVE, SHAREPOINT, LOCAL ]
                config:
                  type: object
      responses:
        "202":
          description: Import started successfully

  /export:
    post:
      summary: Export documents to a destination
      security:
        - BearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                destination:
                  type: string
                  enum: [ FTP, GOOGLE_DRIVE, SHAREPOINT, LOCAL ]
                config:
                  type: object
      responses:
        "202":
          description: Export started successfully

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Document:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
        owner:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
